.contenedorHead{
    -fx-border-color:black;
    -fx-alignment:center;
    -fx-padding:10;
}
.contenedorBody{
    -fx-border-color:black;
    -fx-alignment:center;
    -fx-padding:10;
}
.contenedorFooter{
    -fx-border-color:black;
    -fx-alignment:center;
    -fx-padding:10;

}

.cartasJugador{
      -fx-background-color:#FCDCDC;
      -fx-padding:10;
}
