.contenedorHead{
    -fx-border-color:black;
    -fx-alignment:center;
    -fx-padding:10;
}
.contenedorBody{
    -fx-alignment:center;
    -fx-padding:10;
}
.contenedorFooter{
    -fx-border-color:black;
    -fx-alignment:center;
    -fx-padding:10;

}

.cartasJugador{
      -fx-background-color:#FCDCDC;
      -fx-padding:10;
}
.contenedorLabel2{
    -fx-alignment:TOP_LEFT;

}
.contenedorLabel2 > Label{
  -fx-font-weight: bold;
  -fx-padding:15 0 15 15;

}

.containerJugadoresEliminados{
    -fx-alignment:TOP_LEFT;
      -fx-font-weight: bold;
      -fx-padding:0 0 15 15;
}
.containerJugadoresEliminados > Label{
    -fx-text-fill: red;

}
